<copyright>

	<!-- {% if site.your_name %}
	<p class="footerText">{% if site.your_link %}<a href="{{ site.your_link }}">{% endif %}{{ site.your_name }}{%
			if site.your_link %}</a>{% endif %}</p>
	{% endif %} -->

	<!-- {% if site.your_copyright %}
	<p class="copyrightText">{% if site.your_link_copyright %}<a href="{{ site.your_link_copyright }}">{% endif %}{{
			site.your_copyright }}{%
			if site.your_link_copyright %}</a>{% endif %} 版权所有</p>
	{% endif %} -->


	<!-- {% if site.your_name %}
	<div class="copyrightText">{% if site.your_link %}<a href="{{ site.your_link }}">{% endif %}{{ site.your_name }}{% if
			site.your_link %}</a>{% endif %}{% if site.your_city %} in {{ site.your_city }}{% endif %}</div>
	{% endif %}
	{% if site.your_copyright %}
	<div class="copyrightText">{% if site.your_link_copyright %}<a href="{{ site.your_link_copyright }}">{% endif %}{{
			site.your_copyright }}{%
			if site.your_link_copyright %}</a>{% endif %} 版权所有</div>
	{% endif %}
	<br> -->

	<div class="brandText">基于区块链的智慧校园管理平台</div>
	<div class="copyrightText">江西软件职业技术大学/先锋软件 联合研制 所有版权保留
		© All right Reserved 2019</div>
</copyright>
